<div id="about" class="featured-content content-block">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 push-md-4 text-center">
        <img id="zenBlock" class="b-lazy" src="/assets/img/zen-block.png" data-src="/assets/img/zen-block.png" />
      </div>

      <div class="col-md-4 pull-md-4">
        <h3>Частные и надежные транзакции, коммуникации и публикации</h3>
      </div>

      <div class="col-md-4">
        <p class="lead text-md-right">
          Zen использует лучшие <i>умы</i> в сфере технологий, управления и формирования сообществ, - для создания первой в мире <strong>частной, распределенной и надежной</strong> платформы для коммуникаций, транзакций и публикаций.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Частные транзакции</h4>
        <p>ZenCash использует прозрачные и защищённые транзакции для торговли основанной на блокчейне.</p>
        <p>Прозрачнее чем наследие блокчейна от Bitcoin.</p>
        <p>Защищённые транзакции с использованием zk-SNARKS от Zcash.</p>
      </div>
      <div class="col-md-4">
        <h4>Частные коммуникации</h4>
        <p>Частные коммуникации в блокчейне ZenCash исключают возможность утечки метаданных о деталях сделки. </p>
        <p>Передачу информации с помощью Распределённых и Защищённых Узлов невозможно отследить.</p>
        <p>Безопасные и частные коммуникации со специальным клиентским приложением максимально используют все возможности для приватного храниения защищенных транзакций.</p>
     </div>
      <div class="col-md-4">
        <h4>Безопасные и Анонимные Публикации</h4>
        <p>Приложения конечного пользователя обеспечивают частные коммуникации на блокчейне по системе «один-ко-многим».</p>
        <p>Безопасный обмен сообщениями обеспечивает публикацию в Системе Файлов InterPlanetary.</p>
        <p>Распределенные публикации и распределенный обмен сообщениями позволяют проводить анонимные коммуникации по всему миру.</p>
      </div>
    </div>
  </div> <!-- /container -->
</div>
