<header class="site-header fixed-top">
  <nav class="navbar navbar-toggleable-md">
    <button class="hamburger hamburger--squeeze navbar-toggler hidden-lg-up" type="button"data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <a class="navbar-brand" href="/"><img class="b-lazy" src="/assets/img/zen-inverse.png" data-src="/assets/img/zen-inverse.png" /></a>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{site.links.blog}}">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assets/Zen%20White%20Paper.pdf">Информационный бюллетень</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mining-pools/">Пулы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team/">Команда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#faqs">Информация</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="getInvolved" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Принять участие</a>
          <div class="dropdown-menu" aria-labelledby="getInvolved">
            <a class="dropdown-item" href="{{site.links.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            <a class="dropdown-item" href="{{site.links.telegram}}"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a>
            <a class="dropdown-item" href="{{site.links.slack}}"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a>
            <a class="dropdown-item" href="{{site.links.bitcointalk}}"><i class="fa fa-btc" aria-hidden="true"></i>
 Bitcointalk</a>
            <a class="dropdown-item" href="{{site.links.blog}}"><i class="fa fa-wordpress" aria-hidden="true"></i>
 Блог</a>
            <a class="dropdown-item" href="{{site.links.forum}}"><i class="fa fa-list" aria-hidden="true"></i>
 Форум</a>
            <a class="dropdown-item" href="{{site.links.github}}"><i class="fa fa-github" aria-hidden="true"></i>
 GitHub</a>
            <!-- <a class="dropdown-item" href="#">...</a> -->
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="mailto:info@zensystem.io">Обратная связь</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
