<div class="row mb-3">
  <div class="col-md-4">
    <a href="https://zenmine.pro/">ZenMine Pro</a><br />
    <a href="https://pool.cryptobroker.io/zen/">Cryptobroker</a><br />
    <a href="https://zen.bitfire.one/">BitFire Pool</a><br />
    <a href="https://minez.zone/">MineZ Zone</a><br />
    <a href="http://zen.pool.sexy">ZenCash Pool Sexy</a>
    <a href="http://zencoin.su">SOLO mining pool Zencoin.su</a>
  </div>
  <div class="col-md-4">
    <a href="http://www.luckpool.org/">Luckpool</a><br />
    <a href="http://zen.miningspeed.com/">Miningspeed</a><br />
    <a href="http://zencash.cloud">ZenCash Cloud</a><br />
    <a href="http://miningpool.io/">Zen Mining Pool IO</a><br />
    <a href="https://zenpool-eu.hebusio.com">HebUsio Pool</a>
  </div>
  <div class="col-md-4">
    <a href="http://zcrypt.live">Zcrypt</a><br />
    <a href="http://mineix.ca/">MineIX</a><br />
    <a href="http://www.zpool.ca/">Zpool</a><br />
    <a href="https://zen.suprnova.cc/">SuprNova</a><br />
    <a href="https://zen.sgpool.net/">SG Pool</a>
  </div>
</div>
<hr />
<div class="row mt-3 justify-content-center">
  <div class="col-md-4">
    <a href="https://whattomine.com/coins/185-zen-equihash"><strong>Калькулятор доходности майнинга Zen</strong></a><br />
    <a href="https://forum.zensystem.io/t/zen-mining-pools-list/73"><strong>Форум на тему пулов для майнинга Zen</strong></a>
  </div>
</div>
